{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание занятий</title>
    <link rel="stylesheet" href="{% static  'assets/css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{% static  'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static  'assets/css/bootstrap-theme.css'%}" media="screen" >
	<link rel="stylesheet" href="{% static  'assets/css/main.css'%}">
</head>
<body class="home">
    <div class="navbar navbar-inverse headroom" >
		<div class="container">

			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
                    <li><a href="">Смотреть расписание</a></li>
                    {% if user.is_superuser %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Создать расписание<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/createSpecSchedule">Специализированные аудитории</a></li>
                                <li><a href="/createFixSchedule">Закреплённые аудитории</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        {% if user.username %}
                            <a class="btn" href="/auth/logout">Выйти({{ user }})</a>
                        {% else %}
                            <a class="btn" href="/auth/login">Войти</a>
                        {% endif %}
                    </li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

    <div style="height: 700px">

        {% block timetable %}{% endblock %}
        {% block timetable1 %}{% endblock %}
        {% block create_schedule %}{% endblock %}
        {% block login %}{% endblock %}
        {% block succes_saved %}{% endblock %}
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>